.chatbox{
  border: 2px solid grey;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  background-color: bisque;
}
.me .chatbox{
  background-color: cadetblue;
}
.container{
  display: flex;
}
.me{
  flex-direction: row-reverse;
}
.msgbox{
  position: fixed;
  width: 100vw;
  bottom: 2px;
  display: flex;
  flex-direction: row;
}
.msgbox input{
  padding: 10px 0;
  flex-grow: 1;
}
.msgbox button{
  padding: 10px 0;
}
.chat-container{
  height: 70vh;
  overflow: scroll;
  border: 1px solid black;

}